<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather page</title>
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <header>
        <div class="upper">
            <p class="city">
                <%=r.address%>
            </p>
            <p class="temp">
                <%=r.currentConditions.temp%>&deg;
            </p>
            <p class="condition">
                <%=r.currentConditions.conditions%>
            </p>
            <div class="tms">
                <p class="tm">
                    H:<%=r.days[0].tempmax%>&deg;
                </p>
                <p class="tm">
                    L:<%=r.days[0].tempmin%>&deg;
                </p>
            </div>
        </div>
    </header>
    <section>
        <div class="heading">Today's weather: <%=r.currentConditions.conditions%>
        </div>
        <div class="content">
            <% for (i of r.days[0].hours) { %>
                <div class="hour">
                    <div class="elements">
                        <%= i.datetime.substring(0, 5) %>
                    </div>
                    <div class="elements">
                        <img src="/<%= i.icon %>.png" alt="none">
                    </div>
                    <div class="elements">
                        <%= i.temp %>&deg;
                    </div>
                </div>
                <% } %>
        </div>
    </section>
    <main>
        <div class="box1">
            <div class="day">
                10 days forecast
            </div>
            <% for (i of r.days) { %>
                <div class="day">
                    <div class="details">
                        <%= i.datetime %>
                    </div>
                    <div class="details">
                        L: <%= i.tempmin %>
                    </div>
                    <div class="details">
                        H:<%= i.tempmax %>
                    </div>

                    <div class="details"><img src="/<%=i.icon%>.png" alt="none"></div>
                </div>
                <% } %>

        </div>
    </main>
    <footer>

    </footer>

</body>

</html>