<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather page</title>
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <div class="search">
        <form action="/main" method="POST" id="searchForm">
            <div class="form-group">
                <input type="text" class="form-control el" id="city" name="city" placeholder="Enter City">
                <img src="icons/search.png" alt="" class="iconn" onclick="submitForm()">
            </div>
        </form>
    </div>

    <header>
        <div class="upperr">
            <p class="city">
                <%=r.address%>
            </p>
            <p class="temp">
                <%=r.currentConditions.temp%>&deg;
            </p>
            <p class="condition">
                <%=r.currentConditions.conditions%>
            </p>
            <div class="tms">
                <p class="tm">
                    H:<%=r.days[0].tempmax%>&deg;
                </p>
                <p class="tm">
                    L:<%=r.days[0].tempmin%>&deg;
                </p>
            </div>
        </div>
    </header>
    <section>
        <div class="heading">Today's weather: <%=r.days[0].description%>
        </div>
        <div class="content">
            <% for (i of r.days[0].hours) { %>
                <div class="hour">
                    <div class="elements">
                        <%= i.datetime.substring(0, 5) %>
                    </div>
                    <div class="elements">
                        <img src="icons/<%= i.icon %>.png" alt="none">
                    </div>
                    <div class="elements">
                        <%= i.temp %>&deg;
                    </div>
                </div>
                <% } %>
        </div>
    </section>
    <main>
        <div class="box1">
            <div class="day head1">
                <img src="icons/10day.png" class="head-icon" alt="">
                10 days forecast
            </div>
            <% for (i of r.days) { %>
                <div class="day">
                    <div class="details">
                        <%= i.datetime %>
                    </div>
                    <div class="details">
                        L: <%= i.tempmin %>&deg;
                    </div>
                    <div class="details">
                        H:<%= i.tempmax %>&deg;
                    </div>

                    <div class="details"><img src="icons//<%=i.icon%>.png" alt="none"></div>
                </div>
                <% } %>
        </div>
        <div class="box2">
            <div class="head1">
                <img src="icons/wind.png" alt="" class="head-icon">Wind speed
            </div>
            <div class="matter">
                <%=r.currentConditions.windspeed %> KPH
            </div>
        </div>
        <div class="box3">
            <div class="head1">
                <img src="icons/wind.png" alt="" class="head-icon"> Wind gusts
            </div>
            <div class="matter">
                <%=r.currentConditions.windgust %> KPH
            </div>
        </div>
        <div class="box4">
            <div class="head1">
                <img src="icons/Humidity.png" alt="" class="head-icon"> Humidity
            </div>
            <div class="matter">
                <%=r.currentConditions.humidity %> %
            </div>
            <div class="matt">The dew point it <%=r.currentConditions.dew %>&deg; right now % </div>
        </div>
        <div class="box5">
            <div class="head1">
                <img src="icons/sunrise.png" alt="" class="head-icon"> Sunrise
            </div>
            <div class="matter">
                <img src="icons/sunrise.png" alt="" class="lg-img">
            </div>
            <div class="matt">
                <%=r.currentConditions.sunrise.substring(0, 5) %> AM
            </div>
        </div>
        <div class="box6">
            <div class="head1">
                <img src="icons/sunset.png" alt="" class="head-icon"> Sunset
            </div>
            <div class="matter">
                <img src="icons/sunset.png" alt="" class="lg-img">
            </div>
            <div class="matt">
                <%=r.currentConditions.sunset.substring(0, 5) %> PM
            </div>
        </div>
        <div class="box7">
            <div class="head1">
                <img src="icons/feels_like.png" alt="" class="head-icon"> Feels like
            </div>
            <div class="matter">
                <img src="icons/feels_like.png" alt="" class="lg-img">
            </div>
            <div class="matt">
                <%=r.currentConditions.feelslike %> &deg;
            </div>
        </div>
        <div class="box8">
            <div class="head1">
                <img src="icons/pressure.png" alt="" class="head-icon">Pressure
            </div>
            <div class="matter">
                <img src="icons/pressure.png" alt="" class="lg-img">
            </div>
            <div class="matt">
                <%=r.currentConditions.pressure %> Pa
            </div>
        </div>
    </main>
    <script>
        function submitForm() {
            document.getElementById('searchForm').submit();
        }
    </script>
</body>

</html>